@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
:root{
    --color-primary: #282828;
    --color-secondary: #ffffff;
    --color-grey: #333333;
    --color-tertiary: #ff8800;
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
*::selection{
    background-color: var(--color-tertiary);
    /*var(--color-primary)*/
}
html{
    font-size: 62.5%;
}
body{
    max-width: 100%;
    max-height: 100vh;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    background-color: var(--color-primary);
    color:  var(--color-secondary);
}
.header{
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  var(--color-primary);
    border: 1px solid var(--color-grey);
}
.header__logoBox{
    width: 100%;
    height: 4rem;
    margin: 0 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.header__logoBox--svg path{
    fill: var(--color-secondary);
}
.header__logoBox--svg:hover path{
    fill: var(--color-tertiary);
}
.header__logoBox--img{
    display: block;
    width: 100%;
    height: auto;
}
main{
    width: 100%;
    height: 100%;
    padding: 2rem;
}
.hero{
    display: block;
    flex-wrap: wrap;
    padding: 2rem;
}
.hero__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 4rem 0;
}
.intro{
    padding: 11rem 2rem;
    width: 50%;
    height: 100%;
    line-height: 1.5;
}
.menu{
    width: 30rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.menu__box{
    display: inline;
    margin: 1rem;
    padding: 2rem;
    border-radius: 5px;
    cursor: pointer;
}
.menu__box:nth-child(1){
    background-color: #023ead;
}
.menu__box:nth-child(2){
    background-color: #078900;
}
.menu__box:nth-child(3){
    background-color: #c40303;
}
.menu__box:nth-child(4){
    background-color: var(--color-tertiary);
}
.menu__box a{
    font-weight: 400;
    text-decoration: none;
    color: var(--color-secondary);
}
.intro__main{
    padding: 1rem;
    font-size: 5rem;
    font-weight: 400;
}
.intro__title{
    font-size: 3rem;
    padding: 1rem;
    font-weight: 500;
    margin: 1rem auto;
}
.intro__title em{
    border-bottom: 2px solid var(--color-primary);
    padding: 0 5px;
}
.btn{
    border: none;
    margin: 2rem 1rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
    color: var(--color-primary);
    font-weight: 500;
    background-color:  var(--color-secondary);
    transition: all .2s ease-in-out;
}
.btn:hover{
    transform: translateY(-3px);
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
}
.aboutme-a{
    text-decoration: none;
    display: inline-block;
}
.projects__heading{
    margin-bottom: 1rem;
}
.projects__box, .pens__box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    flex-wrap: wrap;
}
.pens__box{
    display: flex;
    justify-content: center;
}
.projects, .pens{
    padding: 3rem 0;
}
.pens, .projects{
    margin-bottom: 2rem;
}
.view__project{
    display: block;
    text-decoration: none;
    color: var(--color-secondary);
}
.view__project:hover .project{
    background-color: var(--color-tertiary);
}
.project{
    width: 70rem;
    padding: 1rem;
    background-color: var(--color-primary);
    border: 1px solid var(--color-grey);
    border-radius: 4px;
    cursor: pointer;
    margin: 1rem;
}
.project__view{
    width: 100%;
}
.project__view--img{
    display: block;
    max-width: 100%;
    height: auto;
}
.project__title{
    text-align: center;
    padding: .5rem;
    font-weight: 400;
}
.brand{
    width: 6rem;
    height: 6rem;
    margin: 1rem;
    cursor: pointer;
    padding: .5rem 0;
    box-shadow: 0px 0px 7px var(--color-grey);
    border: 1px solid var(--color-grey);
}
.tech, .about, .contact{
    width: 80%;
    margin: 1rem auto;
    padding: 2rem;
    text-align: center;
}
p.contact__me a{
    color: var(--color-tertiary);
}
.projects__heading, .pens__heading, .tech__heading, .copyright, .about__heading, .about__me, .contact__heading, .contact__me{
    padding: 1rem;
    font-weight: 500;
    text-align: center;
}
.tech__box{
    padding: 2rem;
}
.about__me, .contact__me, .copyright{
    font-weight: 400;
}
.about__me{
    line-height: 1.7;
    text-align: justify;
}
.footer{
    text-align: center;
    background-color:  var(--color-primary);
}
.social{
    width: 100%;
    margin: 2rem auto;
    margin-bottom: 1rem;
}
.social, .technologies{
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
}
.icon{
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border: 1px solid var(--color-secondary);
    border-radius: 50%;
    margin: 0 1rem;
    transition: all .2s ease-in;
    line-height: 4;
}
.icon:hover{
    background-color:  var(--color-tertiary);
}
.icon:hover .svg{
    fill:  var(--color-primary);
}
.svg, .mail{
    width: 3rem;
    height: 3rem;
}
.contactme{
    margin: 0 2rem;
    padding: .5rem;
    text-decoration: none;
    color:  var(--color-secondary);
    border-bottom: 2px solid  var(--color-primary);
    cursor: pointer;
}
.contactme:hover{
    border-bottom: 2px solid var(--color-secondary);
}
.mail{
    padding: .5rem 0;
    margin: 0 1rem;
    vertical-align: middle;
    cursor: pointer;
}
.svg{
    /* vertical-align: -2.6rem; */
    fill:  var(--color-secondary);
}

/* media queries*/
@media only screen and (max-width: 37.5em){
    html{
        font-size: 50%;
    }
    .intro, .menu, .tech, .about, .contact{
        width: 90%;
    }
    .contact{
        line-height: 1.5;
    }
    .project{
        width: 40rem;
    }
}
@media only screen and (max-width: 56.25em) {
    .intro, .menu, .tech, .about, .contact{
        width: 90%;
    }
    .project{
        width: 40rem;
    }
}
