:root{
    --color-primary: #FFFFFF;
    --color-secondary: #282828;
    --color-tertiary: #F84D81;
    --color-border: #d8d8d8;
    --header-space: 8rem;
    --alpha-primary: 30%;
}
[data-theme="dark"]{
    --color-primary: #202020;
    --color-secondary: #f1f1f1;
    --color-tertiary: #F84D81;
    --color-border: #282828;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    position: relative;
    background: var(--color-primary);
    color: var(--color-secondary);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}
svg{
    fill: var(--color-secondary);
    width: 2.5rem;
    height: 2.5rem;
}
.btn{
    display: inline-block;
    border: 1px solid var(--color-border);
    padding: 1rem 2rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    cursor: pointer;
    margin: 0 1rem;
    border-radius: .4rem;
    transition: transform .2s ease-in-out;
}
.btn span{
    margin-left: .5rem;
    vertical-align: text-bottom;
}
a{
    color: var(--color-secondary);
    text-decoration: none;
}
a[href] svg:hover{
    fill: var(--color-tertiary);
}
[href]:hover{
    color: var(--color-tertiary);
}
a.btn[href]:hover{
    color: var(--color-primary);
}
a.btn:active{
    color: var(--color-primary);
    transform: translateY(.3rem);
}
.skill,
.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
section{
    width: 100%;
    min-height: calc(100vh - var(--header-space));
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
section div h2{
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 600;
}
/** global ends here **/
main,
#header{
    width: 100%;
    height: 100%;
}
#header{
    position: sticky;
    top: 0;
    background-color: var(--color-primary);
    padding: 2rem 4rem;
    height: 8rem;
    z-index: 10;
    box-shadow: -1px 5px 6px -5px rgba(119, 119, 119, .3);
}
a.logoBox{
    display: block;
    width: fit-content;
    height: 4rem;
    cursor: pointer;
}
.logoBox__svg{
    width: 15rem;
    height: 4rem;
    fill: var(--color-secondary);
}
#header nav ul{
    list-style: none;
}
#header nav ul li{
    margin: 0 1rem;
}
#header nav ul li a{
    color: var(--color-secondary);
    text-decoration: none;
    padding: 1rem;
    font-weight: 500;
}
#header nav ul li a:hover,
#header nav ul li.active a{
    color: var(--color-tertiary);
}
#header nav ul li * svg{ 
    width: 2rem;
    height: 2rem;
}
.skills .skills__main,
.projects .projects__main,
.hero .hero__main{
    text-align: center;
}
.projects .projects__main{
    margin-top: var(--header-space);
}
.hero .hero__main h2{
    font-size: 4rem;
}
.hero .hero__main h2::first-letter{
    font-size: 3.5rem;
    vertical-align: text-top;
}
.hero .hero__main h1{
    color: var(--color-tertiary);
    font-size: 5rem;
}
.hero .hero__main p{
    margin-bottom: 1.5rem;
}
.hero .hero__main .hero__main--cta{
    padding: 1rem 0;
    margin: 1rem 0;
}
#projects .projects__main--container{
    width: 100%;
    justify-content: center;
}
#projects .project{
    min-width: 40rem;
    min-height: 100%;
    margin: 1rem;
    height: 100%;
    border: 1px solid var(--color-border);
    border-radius: .4rem;
}
.project__header,
.project__footer{
    padding: 1rem;
}
.project__header .links a{
    height: 2.5rem;
    padding: 0 .5rem;
}
.project__header .links svg{
    width: 2.5rem;
    height: 2.5rem;
}
/* .project__header .links a:last-child{
    font-size: 2.5rem;
    line-height: 1;
    margin-left: .5rem;
} */
.project__image{
    width: 40rem;
}
.project__image img{
    display: block;
    max-width: 100%;
    height: auto;
    /* transition: all .1s ease-in-out; */
}
/* .project__image img:hover{
    transform: scale(1.5);
} */
.project__footer{
    justify-content: space-around;
}
.skills__main{
    text-align: center;
}
.skills__main--div{
    width: 50%;
    margin: 1rem auto;
    justify-content: center;
}
.skill{
    border: 1px solid var(--color-border);
    width: fit-content;
    padding: .5rem 1rem;
    margin: 1rem;
}
.skill svg{
    margin-right: .5rem;
}
.about__main,
.contact__main{
    padding: 4rem;
}
.about__main p{
    line-height: 1.7;
    text-align: center;
}
.about__main p span{
    border-bottom: 1px solid var(--color-tertiary);
}
.contact__main p{
    padding: 1rem 0;
}
.contact__main .social a svg{
    width: 5rem;
    height: 5rem;
}
.contact__main .social a:not(:last-child){
    margin-right: 2rem;
}
footer{
    padding: 2rem 1rem;
    text-align: center;
}
.toggle{
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid var(--color-secondary);
    border-radius: 50%;
    background: linear-gradient(90deg, var(--color-primary) 0 50%, var(--color-secondary) 50%);
    cursor: pointer;
}
#toggle-input{
    display: none;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
}
@media only screen and (max-width: 850px){
    :root{
        --header-space: 8.8rem;
    }
    html{
        font-size: 52.65%;
    }
    #header{
        height: 100%;
        justify-content: center;
        padding: 1rem 2rem;
    }
    nav{
        padding: 1rem 0;
        width: 100%;
        flex-direction: row-reverse;
    }
    section{
        min-height: calc(92vh - var(--header-space));
    }
    .skills__main--div{
        width: 100%;
    }
    .about__main, .contact__main{
        padding: 2rem;
    }
}
@media only screen and (max-width: 380px){
    section {
        min-height: calc(100vh - var(--header-space));
    }
    #home .hero__main{
        margin-top: var(--header-space);
    }
}